/*div {
  border:1px solid #f00;
    width:250px;
    text-align:center;  
    margin:0 auto;
}*/
.disp-block {
  display: block; /* これでブロック要素の扱いになります */
}
.blockcenter{

  margin-left: auto;  /* 【ポイント】*/
  margin-right: auto; /* 【ポイント】*/
  border: 1px dashed #999; /* わかりやすくボーターを付けておきます */
}
body{
	background: repeating-linear-gradient(
    0deg,     /* 角度の指定 */
    #f00,      /* 色A ... 開始 */
    #f00 3px,  /* 色A ... 終了 */
    white 3px,      /* 色B ... 開始 */
    white 6px   /* 色B ... 終了 */
  );
}
#XY{
	background-color: yellow;
	color:blue;
	font-weight:bold;
}


h1{
	background-color: #eef;
}
div.ook1{
	background-color: #eef;
}

#img1{
  cursor:pointer;

}


.box2 {
  margin       : auto;
  width        : 1240px;
  height       : 10px;
  background   : linear-gradient(to bottom, #0000ff, #ffffff);
  float:left;
}


#title1{
  margin-left:300px;
  margin-right:500px;
}

#sec{
  
  float:right;
}

li{
  float:left;
  list-style-type: none;
  text-align: left;
}

span{
  float:right;
}